{% extends 'base.html' %}
{% load game_filter %}
{% block content %}
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">{{ question.content|mark }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {% if question.modify_data %}
                        {{ question.modify_data }}
                    {% else %}
                        {{ question.create_date }}
                    {% endif %}
                </div>
            </div>
            <div class="my-3">
                <a href="{% url 'game:question_modify' question.id %}"
                    class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                    data-uri="{% url 'game:question_delete' question.id  %}">삭제</a>
            </div>
        </div>
    </div>
    <h5 class="border-bottom my-3 py-2">{{question.answer_set.count}}개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {% if answer.modify_data %}
                        {{ answer.modify_data }}
                    {% else %}
                        {{ answer.create_date }}
                    {% endif %}
                </div>
            </div>
            <div class="my-3">
            <a href="{% url 'game:answer_modify' answer.id  %}" 
               class="btn btn-sm btn-outline-secondary">수정</a>
            <a href="#" class="delete btn btn-sm btn-outline-secondary " 
               data-uri="{% url 'game:answer_delete' answer.id  %}">삭제</a>
        </div>
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'game:answer_create' question.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <div class="form-group">
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <form class="row mx-3">
        <div class="col">
            <input type="submit" value="답변등록" class="btn btn-outline-info">
        </div>
        <div class="col text-right">
            <a href="{% url 'game:index' %}" class="btn btn-outline-secondary">목록으로 돌아가기</a>
        </div>
        </form>
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}