{% extends 'base.html' %}
{% load game_filter %}
{% block content %}
    <form class="row mx-1">
        <div class="col">
            <h2 class="border-bottom py-2">{{ game.subject }}</h2>
        </div>
        <div class="col text-right">
            <img src="/static/images/pygame.jpg" alt="pygame" height="50">
        </div>
    </form>
    <div class="container text-center px-1">
        {% for ima in game.game_images_set.all %}
            <img src="{{ima.image.url}}" alt="Ball_bounce_game" height = "300" width="300">
        {% endfor %}
    </div>
    <div>
        {% for ctg in game.category_set.all %}
            <button type="button" class="btn btn-outline-info btn-sm mx-2 my-1">{{ ctg.subject }}</button>
        {% endfor %}
    </div>
    <div class="row">    
        <div class="col-1 mx-2 my-auto">
            <div class="bg-light text-center p-3 border font-weight-bolder my-1">{{game.voter.count}}</div>
            <a href="{% url 'play:vote_game' game.id %}" class="btn btn-sm btn-dark btn-block my-1">추천</a>
        </div> 
        <div class="col-10 card-body">
            <div class="card-text">{{ game.content|mark }}</div>
                <div class="d-flex justify-content-end">    
                    <div class="badge p-2 text-left">
                        <div class="md-5">작성자 : {{ game.author.username }}</div>
                        <div class="my-1">{{ game.create_date }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-3">
        <a href="{% url 'play:download' game.id %}" class="btn btn-outline-danger btn-block">PLAY_GAME</a>
    </div>
    <h5 class="border-bottom my-3 py-2">{{game.comment_set.count}}개의 댓글이 있습니다.</h5>
    {% for comment in game.comment_set.all %}
    <div class="card my-1">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ comment.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light">
                        {{ comment.create_date }}
                </div>
            </div>
            <div class="my text-right">
                <a href="#" class="delete btn btn-sm btn-outline-secondary " 
                    data-uri="{% url 'play:comment_delete' comment.id  %}">삭제</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'play:comment_create' game.id %}" method="post" class="form-row my-3">
        {% csrf_token %}
        <div class="col-sm-10">
            <textarea name="content" id="content" class="form-control" rows="2"></textarea>
        </div>
        <div class="col">
            <input type="submit" value="댓글등록" class="btn btn-outline-success">
        </div>
    </form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}