{% extends 'base.html' %}
{% load game_filter %}
{% block content %}
<div class="cntainer my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if game_list %}
        {% for game in game_list %}
        <tr>
            <td>
            <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
            {{ game_list.paginator.count|sub:game_list.start_index|sub:forloop.counter0|add:1 }}
            <td>
                <a href="{% url 'play:detail' game.id %}">{{ game.subject }}</a>
            </td>
            <td>{{ game.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">게임이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if gmae_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ game_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in game_list.paginator.page_range %}
        {% if page_number >= game_list.number|add:-5 and page_number <= gmae_list.number|add:5 %}
            {% if page_number == game_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if game_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ game_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <div class="container text-left">
    <a href="{% url 'play:create' %}" class="btn btn-primary">게임등록</a>
    <a href="{% url 'game:index' %}" class="btn btn-primary">건의사항</a>
    </div>
</div>
{% endblock %}